html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto;
}

#main-container {
    display: grid;
    grid-template-columns: 1.3fr 5fr;
    grid-template-rows: 1.5fr 5fr;
    height: 100vh;
}

/* Sidebar */

#sidebar {
    background-color: #1992d4;
    grid-column: 1;
    grid-row: 1 / 3;
    padding-top: 10px;
    padding-left: 20px;
    gap: 30px;
}

#navigation a {
  color: white;
  text-decoration: none;
}

#sidebar h1,
#sidebar ul {
    list-style: none; 
}

#navigation {
    display: grid;
    gap: 50px;
    font-size: 20px;
    row-gap: 80px; 
}

#logo {
  color: white;
}

#dashboard-image {
  width: 50px;
  height: 50px;
  fill: white;
}

#brand {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

#nav li,
#support li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

#navigation svg {
  width: 20px;
  height: 20px;
  fill: white;
  flex-shrink: 0;
}

#nav,
#support {
  list-style: none;
  padding: 0;    
  margin: 0;    
}

/* Header */

#header {
  display: grid;
  grid-template-rows: auto auto;
  gap: 16px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

#top {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 16px;
}

#top svg {
  width: 24px;   
  height: 24px;
  fill: black;   
  flex-shrink: 0; 
}

#top input {
  border-radius: 30px;
  background-color: #e2e8f0;
  border: 0;
  width: 700px;      
  height: 32px;
  padding-left: 20px;
}

#top svg#profile {
    width: 40px;
    height: 40px;
    padding-left: 15px;
}

#bottom {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
}

#profile-2 {
  width: 60px;   
  height: 60px;
  fill: black;   
  flex-shrink: 0; 
}

.user-text {
  font-weight: bold;
}

#username {
  font-size: 25px;
}

#bttn button{
  background-color: #1992d4;
  border-radius: 20px;
  width: 90px;
  height: 35px;
  border: 0;
  color: white;
  margin-left: 20px;
}
/* */ 

#main {
    background-color: #e2e8f0;
}




