html, body {
  height: 100%;
  margin: 0;
}

#sidebar {
    background-color: blue;
    grid-column: 1;
    grid-row: 1 / 3;
}

#main {
    background-color: gray;
}

#mainContainer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1.5fr 5fr;
    height: 100vh;
}